@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My App</h1>
    <br/>
    <p><a href="@Url.RouteUrl("UserList")" class="btn btn-primary btn-lg">Users &raquo;</a></p>
    <br/>
    <p><a href="@Url.RouteUrl("LogEntriesList")" class="btn btn-primary btn-lg">Log Entries &raquo;</a></p>
</div>

